* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-top {
    height: 40vh;
    width: 100vw;
    border-style: clear;
    background-image: url("assets/images/background-pattern-desktop.svg");
    position: absolute;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.background-bottom {
    height: 60vh;
    width: 100vw;
    background-color: hsl(294, 50%, 92%);
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.container {
    background-color: hsl(0, 100%, 100%);
    height: fit-content;
    width: 25vw;
    padding: 20px;
    border-style: clear;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
h2 {
    font-size: 1.0rem;
}
.accordion-title {
    display: flex;
    justify-content: left;
    align-items: center;
    border-style: clear;
    gap: 1rem;
    margin-bottom: 1rem;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: clear;
    margin-top: 1rem;
}
.plus-sign {
    background-image: url("assets/images/icon-plus.svg");
    background-size: fit;
    background-position: center center;
    border-radius: 50%;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
}
.minus-sign {
    background-image: url("assets/images/icon-minus.svg");
    background-size: fit;
    background-position: center center;
    border-radius: 50%;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
}
.top-header {
    margin-top: 0rem;
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer {
    position: absolute;
    bottom: 0;
}